/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #product-details form .form-control{max-width: 200px;}
    #product-details form .submit-btn{min-width: 200px;}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .product-details .product-image img{height: 300px;}
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
.section{padding: 50px 0;}
    .heading{margin-bottom: 10px;}
    .heading h1{font-size: 2.5rem;}
    #footer-area{margin-top: 50px;}
    #menu-area .nav-item::after{display: none;}
    #menu-area .nav-link{padding: 10px !important;color: #4e4e4e !important;}
    #menu-area .dropdown-toggle::before {position: absolute;display: block;top: 24px;left: -24px;width: 11px;height: 1px;content: "";border: none;background-color: #000000;}
    #menu-area .dropdown-toggle::after {position: absolute;display: block;top: 19px;left: -24px;width: 1px;height: 11px;content: "";border: none;background-color: #000000;transition: all 200ms linear;}
    #menu-area .dropdown-toggle[aria-expanded="true"]::after{transform: rotate(90deg);opacity: 0;}
    #menu-area .dropdown-menu {padding: 0 !important;background-color: transparent;box-shadow: none;transition: all 200ms linear;}
    #menu-area .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {margin-top: 10px !important;margin-bottom: 20px !important;}
    #menu-area .nav-fill .nav-item{text-align: left;padding-left: 1.5rem;}
    #menu-area .navbar .nav{flex-wrap: nowrap;justify-content: flex-start !important;flex-direction: column;}
    #menu-area .navbar .nav .d-flex{max-height: 300px;overflow:auto;}
    #topbar-area .logo-search ul li.right-btns .text{display: none;}
    #topbar-area .logo-search ul{flex-direction: column;}
    #topbar-area .logo-search ul li + li{margin-left: 0;}
    #topbar-area .logo-search ul li.right-btns{position: absolute;right: 15px;}
    #topbar-area .logo-search ul li a img{margin: 0 0 10px;width: 70px;}
    #topbar-area .logo-search ul li a{display: block;padding-left: 35px;}
    #menu-area{position: fixed;top: 20px;z-index: 99999;}
    #menu-area .navigation-wrap{box-shadow: none;background-color: transparent !important;}
    #topbar-area .logo-search ul li:nth-child(2){margin: 0;}
    #topbar-area .logo-search ul li.right-btns ul{flex-direction: row;justify-content: center;}
    #topbar-area .logo-search ul li.right-btns ul li{flex: inherit;}
    #topbar-area .logo-search ul li a .icon img{margin:0;}
    #menu-area .navbar-collapse{overflow: scroll;position: fixed;width: 290px;left: -290px;height: 100vh !important;transition: all 0.4s;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;-o-transition: all 0.4s;top: 0;background-color: #ffffff;margin: 0;z-index: 99;padding:15px;}
    #menu-area .navbar-collapse.show{left: -1px;transition: all 1s;-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;margin: 0;border: 0;}
    #menu-area .navbar-toggler{-webkit-transition: all 0.4s linear;-moz-transition: all 0.4s linear;-ms-transition: all 0.4s linear;-o-transition: all 0.4s linear;transition: all 0.4s linear;}
    #menu-area .navbar-toggler.open::after{background-color: rgba(0, 0, 0, 0.6);content: "";height: 100%;left: 0;position: fixed;right: 0;top: 0;width: 1200px;z-index: -1;}
    #topbar-area{padding: 20px 0;}
    #topbar-area .logo-search ul li a .icon{width: 28px;height: 28px;}
    #topbar-area .logo-search ul li a .icon img{width: 18px;}
    .adds-area .adds{margin-bottom: 20px;}
    .product-details .product-image img{height: 200px;}
     #product-list .side-panel{margin-bottom: 25px;}
    #product-list .side-panel ul li.left-list-item{padding: 7px 0;}
    #product-list .side-panel ul li a{margin-bottom: 0;}
    #product-list .side-panel ul.left-list ul{display: none;margin-top: 15px;}
    #product-list .product-details .product-image img{height: 250px;}
    #product-list .side-panel ul li a::before{content: "\f078";font-family: "Font Awesome 5 Free";font-weight:900;position: absolute;right: 0;top: 0;font-size: 15px;line-height: 30px;-webkit-transition: all .4s ease;transition: all .4s ease;-moz-transition: all .4s ease;-o-transition: all .4s ease;}
    #product-list .side-panel ul li a.current::before{transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);}
    #product-list .side-panel ul li a.price::before{display: none;}
    #product-list .pagination .page-item.first{float: none;}
    #product-list .pagination .page-item.last{float: none;}
    #product-list .pagination > li > a, #product-list .pagination > li > span{padding: .5rem .75rem;}
    #product-list .pagination li.page-item{margin: 0 0 5px;}
    #product-details .nav-tabs{border-bottom: none;}
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .container{padding:0 16px;}
    .container-fluid{padding:0 16px;}
    .heading h1{font-size: 2rem;}
    #slider-area #main-slider .slick-prev, #slider-area #main-slider .slick-next{height: 35px; line-height: 50px;border-radius: 0;width: 40px;}
    #slider-area #main-slider .slick-prev::before, #slider-area #main-slider .slick-next::before{font-size: 20px;}
    .product-details .text-content h5{font-size: 0.865rem;}
    .product-details .text-content h6{font-size: 0.675rem;}
    .product-details .text-content h6 span{font-size: 0.575rem;}
    .product-details .product-image .save{width: 35px;height: 35px;text-transform: capitalize;}
    #footer-area .footer-area-inner-content{margin-bottom: 20px;}
    #footer-area .footer-bottom .copy-right p{padding: 0 16px;}
    #product-details h2{margin-top: 15px;}
    .form-group .submit-btn{width: 100%;}
    #product-details .form-group{margin-right: 0;}
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
#product-list .product-details .product-image img{height: 150px;}
#topbar-area .logo-search ul li .form-group .selectpicker{border-right: none;}
#topbar-area .logo-search ul li .form-group{flex-direction: column;}
#topbar-area .logo-search ul li .form-group .selectpicker{margin-bottom: 7px;}
#topbar-area .logo-search ul li .form-group button{top: auto;bottom: 0;}
#product-details .details-inner .carousel-indicators li img{height: 75px;}
#product-details .details-inner .carousel-inner .carousel-item img{height: 230px;}
#product-details .details-inner .carousel-indicators li{width: 50px;}
#product-details .details-inner{padding-left: 50px;}
}
